<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new Chats</h3>
    <form action="/chats" method="post">
        <input placeholder="Who R U ?" type="text" name="from" id=""><br><br>
        <textarea placeholder="Write Ur Message Here" name="msg" id=""></textarea><br><br>
        <input placeholder="enter Receiver" type="text" name="to" id=""><br><br>
        <button>Create Chat</button><br><br>
    </form>
</body>
</html>